<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JomboneTestSuite">

      <listeners>  
             <listener class-name="com.utilities.Reporting"/> 
		</listeners>

	<test name="TestNGTest1" thread-count="5">
	<parameter name="FirstName" value="Sample first name value" />
		<parameter name="LastName" value="Sample last name value" />
		<classes>
		 
			<!-- packagename.classname -->

			<class name="com.testCases.JMB_TC_001" />
		    <class name="com.testCases.JMB_TC_002" />
			<class name="com.testCases.JMB_TC_003" />
			<class name="com.testCases.JMB_TC_004" />
			<class name="com.testCases.JMB_TC_005" />
       	 
		 
		</classes>
	</test>
</suite> <!-- Suite --> 
